{
  "auths": {
{% for registry in set_docker_registries %}
    "{{ registry }}": {
      "auth": "{{ (set_docker_username ~ ':' ~ set_docker_password) | b64encode }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  }
}